html, body, .container {
    height: 100%;
}

html {
    background: url(../images/camdenyards.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#window {
    max-width: 95%;
    border-radius: 25px;
    background-color: gray;
    padding: 25px;
}


/*Welcome screen*/
#welcome {
    line-height: 350%;
}

#welcome h1 {
    margin: 0 auto 0 auto;
    color: white;
}

#welcome > div {
    text-align: center;
}

#welcome .btn {
    width: 200px;
    margin: auto;
}

/* Create draft screen */

#create-draft h1 {
    margin: 0 0 10px 0;
    color: rgb(150, 195, 255);
}

#create-draft label {
    color: whitesmoke;
}

.draft-team {
    display: table;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
}

#draftboard .draft-team:nth-child(8n-7) {
    background-color: #EE9D82;
}

#draftboard .draft-team:nth-child(8n-6) {
    background-color: #F7CC91;
}

#draftboard .draft-team:nth-child(8n-5) {
    background-color: #D5E29F;
}

#draftboard .draft-team:nth-child(8n-4) {
    background-color: #97CB9D;
}

#draftboard .draft-team:nth-child(8n-3) {
    background-color: #95B1DB;
}

#draftboard .draft-team:nth-child(8n-2) {
    background-color: #9888BE;
}

#draftboard .draft-team:nth-child(8n-1) {
    background-color: #C796BF;
}

#draftboard .draft-team:nth-child(8n)) {
    background-color: #C593BD;
}


#draftboard .draft-team-name {
    display: table-cell;
    width: 200px;
    vertical-align: middle;
}

#draftboard .draft-spot {
    display: table-cell;
    width: 100px;
    vertical-align: middle;
}

#draftboard .add-team-form input {
    width: 300px;
    display: inline-block;
    margin-right: 10px;
}
